* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 512px;
    }

header {
    height: 10px;
    background-color: rgb(28, 26, 26);
}

.central-wrapper {
    width: 100%;
    background-color: rgb(35 38 44);
    display: flex;
    overflow: hidden;
}

.sidebar {
    width: 60px;
    flex-shrink: 0;
    background-color: rgb(28, 26, 26);
}

main {
    flex-grow: 1;
    overflow-y: auto;
    height: 100vh;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 36, 36);
    width: 512px;
    text-align: center;
    height: 70px;
    color: white;
}

img {
    max-width: 40px;
    height: auto;
    text-align: center;
    margin-left: 10px;
    border-radius: 22px;
    padding-bottom: 2px;
    }

img:first-of-type{
position: relative;
border-radius: 0;
}

.btn-1 {
    height: 34px;
    width: 6px;
    position: absolute;
    left: -1px;
    top: 16px;
}

.contatti {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.list {
    color: rgba(255, 255, 255, 0.56);
    overflow: auto;
    scrollbar-width: none;
    margin-top: 22px;
    }
li {
    margin-top: auto;
}

    .person {
        position: relative;
        left: 60px;
        bottom: 40px;
        display: flex;
    }

.dial {
position: relative;
bottom: 40px;
left: 58px;
}
   

.list img { 
    border-radius: 22px;

}

.btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 20px;
   padding: 12px;
}

.btn-3:first-child {
    border-radius: 36px;
    padding: 4px;
    border-color: transparent;
    background-color: gray;
    color: white;
    font-size: 12px;
}

.btn-3:last-child {
    border-radius: 12px;
    padding-right: 180px;
    text-align: center;
    line-height: normal;
    margin-left: 70px;
    padding-left: 30px;
    padding-bottom: 3px;
    padding-top: 2px;
    border-color: transparent;
    background-color: gray;
    color: white;
    position: relative;
    right: 40px;
}

.start-btn {
    color: white;
    padding-left: 12px;
    margin-top: 30px;
    font-size: 22px;
}

.footer-style {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-style img {
    border-radius: 22px;
    width: 24px;
    height: 24px;
    margin-top: 18px;
}

.icon-text {
    display: flex;
    align-items: center;
}

.img-spn {
    padding: 5px 12px;
    margin-bottom: 16px;    
}

.spn-frt {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 70px;
}

.btn-icon {
    position: relative;
    bottom: 80px;
    left: 40px;
    width: 14px;
    height: 14px;
    border-radius: 16px;
    border: 3px solid;
    background-color: red;
}
