* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 512px;
    }

header {
    height: 10px;
    background-color: rgb(34, 32, 32)
}

.central-wrapper {
    flex-grow: 1;
    background-color: rgb(65, 65, 65);
    display: flex;
    overflow: hidden;
    height: 100vh;
}

.sidebar {
    width: 60px;
    flex-shrink: 0;
    background-color: rgb(34, 32, 32);
}

main {
    flex-grow: 1;
    overflow-y: auto;
    height: 100vh;
}

footer {
     height: 70px;
    background-color: rgb(56, 55, 55);
    flex-shrink: 0;
    width: 100vw;
}

.footer-style {
    width: 100vw;
}

img {
    max-width: 40px;
    height: auto;
    text-align: center;
    margin-left: 10px;
    border-radius: 22px;
    padding-bottom: 2px;
    }

img:first-of-type{
    border-radius: 0%;
    position: relative;
}

.btn1 {
    height: 34px;
    width: 6px;
    position: absolute;
    left: -1px;
    top: 16px;
}

.contatti {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 200px;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list img {
    border-radius: 22px;
}

.btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 10px;
   padding: 12px;
}

.btn-3:first-child {
    border-radius: 14px;
    padding: 1px;
    border-color: transparent;
    background-color: gray;
    color: white;
}

.btn-3:last-child {
    border-radius: 12px;
    padding-right: 180px;
    text-align: center;
    line-height: normal;
    margin-left: 70px;
    padding-left: 30px;
    border-color: transparent;
    background-color: gray;
}