* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 512px;
    }

header {
    height: 10px;
    background-color: rgb(34, 32, 32)
}

.central-wrapper {
    width: 100%;
    background-color: rgb(65, 65, 65);
    display: flex;
    overflow: hidden;
}

.sidebar {
    width: 60px;
    flex-shrink: 0;
    background-color: rgb(34, 32, 32);
}

main {
    flex-grow: 1;
    overflow-y: auto;
    height: 100vh;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(56, 55, 55);
    width: 512px;
    text-align: center;
    height: 70px;
    color: white;
}

img {
    max-width: 40px;
    height: auto;
    text-align: center;
    margin-left: 10px;
    border-radius: 22px;
    padding-bottom: 2px;
    }

img:first-of-type{
    border-radius: 0%;
    position: relative;
}

.btn-1 {
    height: 34px;
    width: 6px;
    position: absolute;
    left: -1px;
    top: 16px;
}

.contatti {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.list {
    color: rgba(255, 255, 255, 0.56);
    overflow: auto;
    scrollbar-width: none;
    }
li {
    margin-top: auto;
}

    .person {
        position: relative;
        left: 60px;
        bottom: 40px;
        display: flex;
    }

.dial {
position: relative;
bottom: 40px;
left: 58px;
}
   

.list img { 
    border-radius: 22px;

}

.btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 10px;
   padding: 12px;
}

.btn-3:first-child {
    border-radius: 36px;
    padding: 1px;
    border-color: transparent;
    background-color: gray;
    color: white;
}

.btn-3:last-child {
    border-radius: 12px;
    padding-right: 180px;
    text-align: center;
    line-height: normal;
    margin-left: 70px;
    padding-left: 30px;
    border-color: transparent;
    background-color: gray;
    color: white;
}

.start-btn {
    color: white;
    padding-left: 12px;
}

.footer-style {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-style img {
    border-radius: 22px;
    width: 20px;
    height: auto;
}
